{
// http://eslint.org/docs/configuring/
// http://eslint.org/docs/rules/
  "globals": {
    // Put things like jQuery, etc
    "jQuery": true,
    "$": true
  },
  "env": {
    // enable all ECMAScript 6 features except for modules
    "es6": true,
    // I write for browser
    "browser": true,
    // in CommonJS
    "node": true,
    "jquery": true
  },
  "ecmaFeatures": {
    "modules": false
  },
  "rules": {
    "eqeqeq": 1,
    "curly": [2, "all"],
    "strict": 0,
    "quotes": [1, "single"],
    "strict": [2, "global"],
    "no-unused-vars": 1,
    // http://eslint.org/docs/rules/prefer-const
    "prefer-const": 1
  }
}
